<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Restaurants</title>
  </head>
  <body>
    <h1>Welcome to the Restaurant Repository!</h1>

    <p>Search for a Cuisine type: (eg: Hamburgers, Italian)</p>

    <form action="/cuisine_search" method="post">
        <label for="cuisine">Cuisine Type:</label>
        <input id="cuisine" name="cuisine" type="text">

        <button type="submit">Search Cuisine</button>
    </form>
  </body>
</html>
